.button {
  display: block;
  width: 280px;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;

  @include text(16px, 20px);
  font-family: $font-title;
  font-weight: 400;
  color: $white;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;

  background-color: $green;
  border: none;
}
