.category-item {
  padding: 20px;
  background-color: $bg-grey;
}
.category-item__header {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}
.category-item__icon {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}
.category-item__title {
  @include text(24px,24px);
  font-family: $font-title;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
  color: $title;
}
.category-item__content {
  @include text(14px, 18px);
  color: $text;
  margin: 0;
  margin-bottom: 20px;
  padding-bottom: 25px;
  border-bottom: 1px solid $border;
}

.category-item__link {
  @include text(16px, 16px);
  @include link-clear;
  font-family: $font-title;
  color: $title;
  text-transform: uppercase;
}
