.main-slide {
  position: relative;
}

.main-slide__header {
  padding: 0 20px;
  padding-top: 30px;
  margin-bottom: 20px;

  background-image: url('../img/index-background-mobile@1x.jpg');
  background-repeat: no-repeat;
  text-align: center;
}
.main-slide__title,
.main-slide__subtitle {
  font-family: $font-title;
  font-weight: 400;
  color: $white;
  margin: 0;
}

.main-slide__title {
  @include text(36px, 36px);
  margin-bottom: 20px;
}
.main-slide__subtitle {
  @include text(14px, 14px);
  margin-bottom: 30px;
}

.main-slide__programs {
  padding: 0 20px;
}
.main-slide__programs-item {
  margin-bottom: 20px;
}
