.page-header {
  padding-top: 10px;
  padding-bottom: 15px;
}
.page-header__wrapper {
  padding: 0 20px;
  display: flex;
  align-items: center;
}
.page-header__logo-image {
  max-width: 190px;
}
.page-header__nav {
  margin-left: auto;
}
