.page-footer {
  background: $bg-grey;
}
.page-footer__contacts {
  padding: 30px 20px 25px;
}
.page-footer__bottom {
  padding: 0 20px;
  padding-top: 40px;
  padding-bottom: 25px;
}
.page-footer__logo {
  width: 130px;
  margin: 0 auto;
  margin-bottom: 25px;
}
