.status-bar {
  display: flex;
  justify-content: center;
  align-items: center;
}
.status-bar__button {
  @include btn-clear();
  @include text(16px,20px);
  text-transform: uppercase;
  font-family: $font-title;
}

.status-bar__line {
  width: 85px;
  height: 15px;
  margin: 0 18px;
  border-radius: 6px;
  border: 1px solid $border;
  background-color: $white;
  // background-color: #68b738;
}
