.title-block {
  padding: 30px 0;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
}

.title-block__title {
  margin: 0;
  text-align: center;
  font-family: $font-title;
  color: $title;
  font-weight: 400;
  @include text(36px, 36px);

}
