* {
  box-sizing: border-box;

  &::before,
  &::after {
    box-sizing: border-box;
  }
}

body {
  @include text(14px, 18px);
  font-family: $font-main;
  font-weight: 400;
  color: $text;

  width: $width-mobile;

  background-color: $white;
}


img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0;
}
